@import "common.scss";

$boarserRadius: 4px;
$fontSize1: 32px;
$fontSize2: 24px;
$fontSize3: 20px;
$fontSize4: 16px;
$lightGrey: #efefef;
$boarderColor: #c5cbd7;
$middleGrey: #636363;
$darkGrey: #252627;

@mixin breaking-point {
    @media (max-width: 700px) {
        @content;
    }
    @media (min-width: 1023px) and (max-width: 1300px) {
        @content;
    }
}

body {
    margin: 0;
    line-height: 1.4em;
    max-width: 100vw;
}

* {
    font-family: 'Montserrat';
}

.hide {
    display: none;
}

.dav-logo {
    background: url('../img/Tok_Sale_logo.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.title {
    color: $orange;
    font-size: $fontSize1;
    font-weight: bold;
}

.disabled {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: -2px;
        right: -2px;
        top: -2px;
        bottom: -2px;
        background: white;
        opacity: .7;
    }
}

.button {
    background: $orange;
    color: white;
    border-radius: $boarserRadius;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: 1px solid $orange;
    font-weight: bold;
    cursor: pointer;
}

.link {
    color: $orange;
}

a {
    color: $orange;
    text-decoration: none;
    cursor: pointer;
}

iframe {
    max-width: calc(100% - 64px);
}

input {
    font-size: $fontSize4;
    line-height: 38px;
    height: 38px;
    border: 1px solid $boarderColor;
    border-radius: $boarserRadius;
    padding: 0 4px;
    color: $darkGrey;

    &.invalid {
        border-color: red;
    }
}

.deatal-blok {
    background: white;
    border: 1px solid $boarderColor;
    border-radius: $boarserRadius;
    font-weight: bold;
    margin: 4px;
    padding: 12px;
    width: 256px;
    text-align: center;
}

#error-msg {
    width: 100%;
    display: none;
    color: red;
    position: absolute;
    bottom: -32px;
}

#container {
    display: flex;
    width: 100vw;
    overflow-x: hidden;

    .left-section {
        background-color: $lightGrey;
        width: 50%;
        position: relative;
        transition: 1s;

        @include desktop {
            min-height: calc(100vh - 80px);
        }

        @include not-desktop {
            display: none;
        }

        .home-address {

            .dav-logo {
                top: 40%;
                margin: 64px auto 32px auto;
                position: static;
                transform: translate(0, 0);
                background-image: url('../img/Tok_Sale_logo.png');
            }

            .title {
                position: absolute;
                text-align: center;
                transform: translateY(-50%);
                width: 100%;
                top: calc(40% + 64px);
            }

            .video-head {
                font-size: $fontSize3;
                text-align: center;
                width: 100%;
                padding: 32px 0;
            }

            .video-container {
                text-align: center;
            }
            
        }

        .token-sale {
            display: none;
            text-align: center;
            padding-top: 40px;

            @include not-desktop {
                padding-top: 32px;
            }

            .video-head {
                font-size: $fontSize3;
            }
            a {
                text-decoration: underline;
                font-size: $fontSize3;
            }
            .contact-us a {
                font-size: 14px;
            }
            .details {
                width: 292px;
                margin: 20px auto 32px;
            }
            .video-container {
                margin: 32px 0;
            }
        }

        .dav-logo {
            width: 40%;
            height: 12vw;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

    }
    .right-section {
        background-color: white;
        width: 50%;
        position: relative;
        transition: 1s;

        padding: 40px;

        @include mobile {
            padding: 16px 12px;
        }

        @include desktop {
            min-height: calc(100vh - 80px);
        }

        @include not-desktop {
            width: 100%;
        }
        

        .welcome-section {
            width: 75%;
            min-width: 300px;
            margin: auto;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 45%;

            p {
                font-size: 18px;
                text-align: center;
            }

            @include not-desktop {
                position: static;
                transform: translate(0, 0);
                margin-top: 16px;

                p {
                    font-size: $fontSize4;
                }
            }


            form {
                display: flex;
                position: relative;
                max-width: 512px;
                margin: auto;

                input {
                    width: 66%;
                    margin: 0 4px 0 0;
                }
                .button {
                    width: 33%;
                    margin: 0 0 0 4px;
                }

                @include mobile {
                    display: block;

                    input {
                        width: calc(100% - 12px);
                    }

                    .button {
                        width: 128px;
                        margin: auto;
                        margin-top: 24px;
                    }
                }
            }
        }

        .dav-logo {
            display: none;
            width: 64px;
            height: 32px;
            position: absolute;
            right: 8px;
            top: 8px;

            @include not-desktop {
                display: block;
                margin: auto;
                position: relative;
                width: 112px;                
                height: 80px;
            }
        }

        .error {
            padding: 32px;
            transform: translateY(-50%);
            top: 45%;
            position: absolute;

            @include not-desktop {
                position: static;
                transform: translate(0);
            }    

            .title {
                font-size: $fontSize2;
            }

            .button {
                display: block;
                margin: auto;
                margin-top: 32px;
                width: 240px;
                padding: 2px;

                &.hide {
                    display: none;
                }
            }
        }

        .home-address {

            .title {
                font-size: $fontSize3;
                text-align: center;

                @include mobile {
                    padding: 8px 0;
                }
            }

            label {
                display: flex;

                input {
                    height: initial;
                    margin-top: 12px;
                    @include mobile {
                        transform: scale(1.5);
                    }
                }
            }

            button {
                display: block;
                margin: 24px auto 0;
                padding: 0 32px;
                line-height: 16px;
                font-size: $fontSize4;

                @include mobile {
                    padding: 0 24px;
                    margin: 24px auto;
                }
            }

            b {
                text-transform: uppercase;
            }

            p {
                margin: 20px 0 0px 0;
            }

            .paragraf {
                margin: 20px 0;
                p {
                    margin: 4px 0;
                }
            }

            input {
                font-size: 13px;
            }

            .secondary-title {
                margin: 24px 0 4px 0;

                @include mobile {
                    padding: 4px 0;
                }
            }

            .input-field {
                min-width: 286px;
                display: block;
                margin-bottom: 12px;
            }

            #another-person {
                margin-top: 12px;
            }

            .radio-button {
                display: flex;

                p {
                    margin: 9px;
                }
            }
        }

        .token-sale {
            display: none;

            a {
                text-decoration: underline;
                font-size: $fontSize4;
                text-align: center;
                margin: 32px;
                margin-top: 20px;
                display: block;
            }

            .title {
                font-size: $fontSize2;
                text-align: center;

                @include mobile {
                    padding: 12px 0 4px;
                }
            }

            .details {
                text-align: center;
                margin-bottom: 32px;

                >div {
                    display: inline-flex;
                    @include breaking-point {
                        display: block;
                        margin: auto;
                        width: 290px;
                    }
            
                }

                a {
                    margin: 20px;
                }
            }
        }
    }
}

.go-out {

    .right-section {
        transform: translateX(50vw);
        @include not-desktop {
            transform: translateX(-100vw);
        }
    }

    .left-section {
        transform: translateX(-50vw);
        @include not-desktop {
            transform: translateX(-100vw);
        }
    }
}

.address-container {
    background: $lightGrey;
    line-height: 1em;
    padding: 16px 32px;
    margin: 24px 0px;
    text-align: center;
    max-width: 576px;
    margin: auto;

    @include mobile {
        padding: 16px;
    }

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }


    >div {
        display: inline-flex;
        text-align: left;

        @include breaking-point {
            display: block;
        }    
    }

    .button {
        height: 32px;
        line-height: 32px;
        padding: 0 24px;
        font-size: 12px;
        margin-left: 12px;
        max-width: calc(100% - 72px);
    }
}

.eth-icon {
    background: url('../img/logo_ETH.svg');
    background-repeat: no-repeat;
    height: 32px;
    width: 28px;
}

.address {
    display: flex;
    >div {
        div:first-child {
            font-size: 10px;

            @include mobile {
                width: 12px;
            }
        }
    }
    @include breaking-point {
        padding: 0 12px 12px;
    }

    @include mobile {
        padding: 0;
        padding-bottom: 12px;
    }
}

@include not-desktop {
       
    #container.sale-page, #container.ouner-details {
        flex-direction: column;

        .left-section {
            order: 2;
            display: block;
            width: 100%;

            .dav-logo {
                display: none;
            }
        }

        .right-section {
            order: 1;
            width: calc(100% - 80px);
            @include mobile {
                width: calc(100% - 24px);
            }

        }
    }
}

#contracts-address {
    font-size: 12px;
    background: transparent;
    border: none;
    color: black;
    padding: 0;
    height: 12px;
    line-height: 12px;
    width: 310px;
    text-align: center;


    @include mobile {
        font-size: 9px;
        width: 232px;
    }

    .button {
        padding: 8px 12px;
    }

    p {
        text-align: left;
    }
}

#curtain {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #252627;
    opacity: 0.7;
    z-index: 0;
}

.modal {
    position: fixed;
    transform: translate(-50%, -50%);
    background: white;
    top: 50%;
    left: 50%;
    min-width: 256px;
    min-height: 128px;
    padding: 32px;
    z-index: 999;

    .title {
        font-size: $fontSize2;
        width: 100%;
        text-align: center;
    }

    .close-button {
        position: absolute;
        right: 8px;
        top: 8px;
        cursor: pointer;
        font-size: 24px;

        &.button {
            position: static;
        }
    }
    .button {
        display: block;
        width: 192px;
        margin: auto;
        padding: 4px 12px;
        margin-top: 32px;
        font-size: 18px;
    }
}

.prompt {
    position: fixed;
    background-color: $orange;
    bottom: 12px;
    right: 12px;
    opacity: 0.9;
    transition: .5s;
    padding: 12px;
    color: white;
    border-radius: 4px;

    &.hide {
        bottom: -64px;
        display: block;
    }
}

.contact-us {
    font-size: 14px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 32px;
    left: 0;

    @include not-desktop {
        position: static;
        margin: 32px 0;
    }

    a {
        font-size: 14px;
        display: block;
    }
}

.seperator {
    margin: 32px auto;
    width: 256px;
    height: 2px;
    background: $boarderColor;
    display: block;
}
