@import "common.scss";

$boarserRadius: 4px;
$fontSize1: 32px;
$fontSize2: 24px;
$fontSize3: 20px;
$fontSize4: 16px;
$lightGrey: #efefef;
$boarderColor: #c5cbd7;
$middleGrey: #636363;
$darkGrey: #252627;

@mixin breaking-point {
    @media (max-width: 700px) {
        @content;
    }
    @media (min-width: 1023px) and (max-width: 1300px) {
        @content;
    }
}

body {
    margin: 0;
    font-family: 'Montserrat';
    line-height: 1.4em;
}

.hide {
    display: none;
}

.dav-logo {
    background: url('../img/logo.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.title {
    color: $orange;
    font-size: $fontSize1;
    font-weight: bold;
}

.disabled {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: -2px;
        right: -2px;
        top: -2px;
        bottom: -2px;
        background: white;
        opacity: .7;
    }
}

.button {
    background: $orange;
    color: white;
    border-radius: $boarserRadius;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: 1px solid $orange;
    font-weight: bold;
    cursor: pointer;
}

.link {
    color: $orange;
}

a {
    color: $orange;
    text-decoration: none;
    cursor: pointer;
}

iframe {
    max-width: calc(100% - 64px);
}

input {
    font-size: $fontSize3;
    line-height: 38px;
    height: 38px;
    border: 1px solid $boarderColor;
    border-radius: $boarserRadius;
    padding: 0 4px;
    color: $darkGrey;

    &.invalid {
        border-color: red;
    }
}

.deatal-blok {
    background: white;
    border: 1px solid $boarderColor;
    border-radius: $boarserRadius;
    font-weight: bold;
    margin: 4px;
    padding: 12px;
    width: 256px;
    text-align: center;
}

#error-msg {
    width: 100%;
    display: none;
    color: red;
    position: absolute;
    bottom: -32px;
}

#container {
    display: flex;
    width: 100vw;

    .left-section {
        background-color: $lightGrey;
        width: 50%;
        position: relative;
        transition: 1s;

        @include desktop {
            min-height: calc(100vh - 92px);
        }

        @include not-desktop {
            display: none;
        }

        .home-address {

            .dav-logo {
                top: 40%;
                background-image: url('../img/Tok_Sale_logo.png');
            }

            .title {
                position: absolute;
                text-align: center;
                transform: translateY(-50%);
                width: 100%;
                top: calc(40% + 64px);
            }
        }

        .token-sale {
            display: none;
            text-align: center;
            padding: 52px 32px;

            @include mobile {
                padding: 32px 12px;
            }

            .video-head {
                font-size: $fontSize3;
            }
            a {
                text-decoration: underline;
                font-size: $fontSize3;
            }
            .details {
                width: 292px;
                margin: 20px auto 32px;
            }
            .video-container {
                margin: 32px 0;
            }
        }

        .dav-logo {
            width: 50%;
            height: 12vw;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

    }
    .right-section {
        background-color: white;
        width: 50%;
        position: relative;
        transition: 1s;

        padding: 52px 40px 40px 40px;

        @include mobile {
            padding: 32px 12px;
        }

        @include desktop {
            min-height: calc(100vh - 92px);
        }

        @include not-desktop {
            width: 100%;
        }

        .welcome-section {
            width: 75%;
            min-width: 300px;
            margin: auto;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 45%;

            @include not-desktop {
                position: static;
                transform: translate(0, 0);
                margin-top: 16px;
            }

            p {
                font-size: $fontSize3;
            }

            form {
                display: flex;
                position: relative;

                input {
                    width: 66%;
                    margin: 0 4px 0 0;
                }
                .button {
                    width: 33%;
                    margin: 0 0 0 4px;
                }
            }
        }

        .dav-logo {
            display: none;
            width: 64px;
            height: 32px;
            position: absolute;
            right: 8px;
            top: 8px;

            @include not-desktop {
                display: block;
            }
        }

        .error {
            padding: 32px;
            transform: translateY(-50%);
            top: 45%;
            position: absolute;

            @include not-desktop {
                position: static;
                transform: translate(0);
            }    

            .title {
                font-size: $fontSize2;
            }

            .button {
                display: block;
                margin: auto;
                margin-top: 32px;
                width: 240px;
                padding: 2px;

                &.hide {
                    display: none;
                }
            }
        }

        .home-address {

            .title {
                font-size: $fontSize2;
            }

            button {
                display: block;
                margin: 24px auto 0;
                padding: 1px 16px;
            }

            b {
                text-transform: uppercase;
            }

            p {
                margin: 20px 0 0px 0;
            }

            input {
                font-size: $fontSize4;
            }

            .secondary-title {
                margin: 24px 0 4px 0;
            }

            .input-field {
                min-width: 286px;
                display: block;
                margin-bottom: 12px;
            }

            #another-person {
                margin-top: 12px;
            }

            .radio-button {
                display: flex;

                p {
                    margin: 9px;
                }
            }
        }

        .token-sale {
            display: none;

            a {
                text-decoration: underline;
                font-size: $fontSize4;
                text-align: center;
                margin: 32px;
                margin-top: 20px;
                display: block;
            }

            .title {
                font-size: $fontSize2;
            }

            .details {
                text-align: center;
                margin-bottom: 32px;

                >div {
                    display: inline-flex;
                    @include breaking-point {
                        display: block;
                        margin: auto;
                        width: 290px;
                    }
            
                }

                a {
                    margin: 20px;
                }
            }
        }
    }
}

.go-out {

    .right-section {
        transform: translateX(50vw);
        @include not-desktop {
            transform: translateX(-100vw);
        }
    }

    .left-section {
        transform: translateX(-50vw);
        @include not-desktop {
            transform: translateX(-100vw);
        }
    }
}

.address-container {
    background: $lightGrey;
    line-height: 1em;
    padding: 16px 32px;
    margin: 24px 0px;
    text-align: center;

    @include mobile {
        padding: 16px;
    }

    >div {
        display: inline-flex;
        text-align: left;

        @include breaking-point {
            display: block;
        }    
    }

    .button {
        height: 32px;
        line-height: 32px;
        padding: 0 24px;
        font-size: 12px;
        margin-left: 12px;
        max-width: calc(100% - 72px);
    }
}

.eth-icon {
    background: url('../img/logo_ETH.svg');
    background-repeat: no-repeat;
    height: 32px;
    width: 28px;
}

.address {
    display: flex;
    >div {
        div:first-child {
            font-size: 10px;
        }
    }
    @include breaking-point {
        padding: 0 12px 12px;
    }

    @include mobile {
        padding: 0;
        padding-bottom: 12px;
    }
}

@include not-desktop {
       
    #container.sale-page {
        flex-direction: column;

        .left-section {
            order: 2;
            display: block;
            width: 100%;
        }

        .right-section {
            order: 1;
            width: 100%;
        }
    }
}

#contracts-address {
    font-size: 12px;
    background: transparent;
    border: none;
    color: black;
    padding: 0;
    height: 12px;
    width: 296px;
}

.prompt {
    position: fixed;
    padding: 24px;
    right: 4px;
    bottom: 4px;
    transition: .4s;

    &.error {
        background: rgba(193, 66, 66, 0.5);
    }

    &.success {
        background: rgba(63, 191, 63, 0.5);
    }

    &.hide {
        display: block;
        bottom: -128px;
    }
}

.contact-us {
    font-size: 14px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 32px;
    left: 0;

    @include mobile {
        position: static;
        margin-top: 40px;
    }

    a {
        font-size: 14px !important;
    }
}

.seperator {
    margin: 40px auto;
    width: 256px;
    height: 2px;
    background: $boarderColor;
}
