body {
  margin: 0;
  font-family: 'Montserrat'; }

.hide {
  display: none; }

.dav-logo {
  background: url("../img/logo.png");
  background-size: 100% auto;
  background-repeat: no-repeat; }

.title {
  color: #ff6a46;
  font-size: 32px;
  font-weight: bold; }

.button {
  background: #ff6a46;
  color: white;
  border-radius: 4px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #ff6a46;
  font-weight: bold; }

.link {
  color: #ff6a46; }

input {
  font-size: 20px;
  line-height: 38px;
  height: 38px;
  border: 1px solid #c5cbd7;
  border-radius: 4px;
  padding: 0 4px;
  color: #252627; }

#error-msg {
  width: 100%;
  display: none;
  color: red;
  text-align: center;
  position: absolute;
  bottom: -24px; }

#container {
  display: flex;
  height: 100vh;
  width: 100vw; }
  #container .left-section {
    background-color: #efefef;
    height: 100vh;
    width: 50%;
    position: relative; }
    @media (max-width: 600px) {
      #container .left-section {
        display: none; } }
    #container .left-section .dav-logo {
      width: 50%;
      height: 12vw;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
  #container .right-section {
    background-color: white;
    height: 100vh;
    width: 50%;
    position: relative; }
    #container .right-section .wellcom-section {
      width: 75%;
      min-width: 300px;
      margin: auto;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 46%; }
      #container .right-section .wellcom-section p {
        font-size: 20px; }
      #container .right-section .wellcom-section form {
        display: flex;
        position: relative; }
        #container .right-section .wellcom-section form input {
          width: 66%;
          margin: 0 4px 0 0; }
        #container .right-section .wellcom-section form .button {
          width: 33%;
          margin: 0 0 0 4px; }
    #container .right-section .dav-logo {
      display: none;
      width: 64px;
      height: 32px;
      position: absolute;
      right: 8px;
      top: 8px; }
      @media (max-width: 600px) {
        #container .right-section .dav-logo {
          display: block; } }
    @media (max-width: 600px) {
      #container .right-section {
        width: 100%; } }
